.jumbotron {
background-image: url(https://www.tnvacation.com/sites/default/files/styles/hero/public/article/_HEADER_PC_jmgriese.jpg);
height:300px;
background-repeat: no-repeat;
background-size: auto 100%;
border-bottom:4px solid darkolivegreen;
}
#trail-result{
    font-size: 20px;
    font-weight: bold;
}
#brew-result{
    font-size: 20px;
    font-weight: bold;
}

h1 {
    color: darkolivegreen;
}

.lead {
    color: darkolivegreen;
}
#brewId{
    /* padding: 10px;
    margin: 10px; */
    border: 2px darkolivegreen solid;
    background-color: #e9ecef;
}
#gifId{
    border: 2px darkolivegreen solid;
    background-color: #e9ecef;
}
.brewImage{
    height: 100px;
    width: 150px;
}